  <div class="jumbotron">
  <h4 class="jumbotron-heading">
    <%= @post.title %>
  </h4>
  <p>
    <%= @post.body %>
  </p>
  <hr class="my-4">
  <p class="text-muted">
    Submitted <%= time_ago_in_words(@post.created_at) %> ago
  </p>
    <% if user_signed_in? %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-link" %>
      <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
    <% end %>

  </div>


  <div>
    <p><%= @post.comments.count %> Comments<p><br>
    <%= render @post.comments %>
    <p> Join Discussion: </p>
    <%= render "comments/form" %>
  </div>
